.home-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    height: 100vh;
}
.white-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 600px;
    text-align: left; /* Align text to the left */
}
.white-box h1 {
    margin-bottom: 20px;
    margin-top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 200px; /* Adjust the gap between buttons as needed */
}

.calendar-list {
    display: grid;
    grid-template-columns: column;
    gap: 20px;
}

.calendar-card {
    background-color: #f9f9f9;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
}

.calendar-card h3 {
    margin-bottom: 10px;
}

.calendar-link {
    text-decoration: none;
    color: inherit;
}
.empty-message {
    text-align: center;
}

.empty-message p {
    font-weight: bold;
    font-size: 1.5em;
}
.discord-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.discord-icon-container img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.discord-icon-container a.chat-bubble {
    position: relative;
    display: inline-block;
}

.discord-icon-container a.chat-bubble::before {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #00aced; /* Adjust the background color as needed */
  color: #fff; /* Adjust the text color as needed */
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
}

.discord-icon-container a.chat-bubble:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(-110%);
}

.button-and-icon-container {
    display: flex;
    align-items: center;
  }
  
  .button-and-icon-container > * {
    margin-right: 50px; /* Adjust the margin as needed */
  }
  
  .discord-icon-container {
    cursor: pointer;
    width: 50px;

  }
  .discord-icon {
    width: 50px; /* Adjust the width as needed */
    height: auto;
  }

  .spacing {
    margin-right: 300px; /* Adjust the spacing as needed */
  }